{% extends 'base.html.twig' %}

{% block title %}Edit OrganizerProfile{% endblock %}

{% block body %}
    <h1>Edit OrganizerProfile</h1>

    {{ include('organizer_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_organizer_profile_index') }}">back to list</a>

    {{ include('organizer_profile/_delete_form.html.twig') }}
{% endblock %}
