{% extends 'base.html.twig' %}

{% block title %}New OrganizerProfile{% endblock %}

{% block body %}
    <h1>Create new OrganizerProfile</h1>

    {{ include('organizer_profile/_form.html.twig') }}

    <a href="{{ path('app_organizer_profile_index') }}">back to list</a>
{% endblock %}
